# ignore all python virtual environments
venv/
venvMAC/
venvPC/

# ignore all pycache files
__pycache__/

# ignore all .env files
.env

# ignore all .vscode files
.vscode/

# ignore system junk files
._*
.DS_Store
.replit